{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<CENTER>
	<h2>Demande d'inscription</h2>
	{{ form_start(form)}}
		{{ form_widget(form) }}
	{{ form_end(form) }}
	<a href="{{ path('parkingparking_login') }}">Se connecter</a>
	</CENTER>
{% endblock %}

{% block javascripts %}
{% endblock %}